<footer class="footer-container">
  <div class="left-content">
    <div class="address">
      <p>Head Office:</p>
      <p>Gauteng</p>
      <p>1085 Pretorius St</p>
      <p>Hatfield, Pretoria</p>
      <p>South Africa 0001</p>
    </div>
  </div>

  <div class="center-content">
    <div class="menu">
      <ul>
        <li><a (click)="navigateTo('/')">Home</a></li>
        <li><a (click)="navigateTo('/about')">About Us</a></li>
        <li><a (click)="navigateTo('/service1')">Services</a></li>
        <li><a (click)="navigateTo('/contact')">Get in Touch</a></li>
        <li><a (click)="navigateTo('/careers')">Careers</a></li>
      </ul>
    </div>
    <div class="social-icons">
      <!-- Add your social media icons and links here -->
      <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
      <!-- Add more social media icons as needed -->
    </div>
    <div class="description">
      <p>Your one-stop solution for creative design, efficient printing,</p>
      <p>striking websites, and effective digital marketing</p>
    </div>
  </div>

  <div class="bottom-center-content">
    <div class="copyright">
      <p>© Copyright 2024. All Rights Reserved. CodeNoSleep | <a href="#">Privacy Policy</a> | <a href="#">Cookie Policy</a></p>
    </div>
  </div>
</footer>
