/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f9f6f6;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

article {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
