/* navbar.component.css */
/* styles.css or styles.scss */
@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar {
    background-color: white;
    color: black;
    padding: 30px;
    display: flex;
    justify-content: center; /* Center the entire navbar horizontally */
    align-items: center; /* Center the content vertically */
  }
  
  /* .logo {
    font-size: 2rem;
  }
   */
   .logo {
    font-size: 24px;
    font-weight: bold;
}
.logo .code {
    color: blue;
}
.logo .no {
    color: rgb(150, 193, 230);
}
.logo .sleep {
    color: rgb(208, 55, 208);
}
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
    position: relative;
  }
  
  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  /* Show the dropdown content on hover */
  .nav-links li:hover .dropdown-content {
    display: block;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
  }
  
  /* Change link color on hover */
  .nav-links a:hover {
    color:  #4027ae;
  }
  

  /* navbar.component.css */

/* ... (previous styles) */

.social-links {
    display: flex;
    align-items: center;
    color: black;
  }
  
  .social-links a {
    margin-right: 15px;
    color: black;
    font-size: 1.2rem;
  }
  
  .get-in-touch {
    background-color:  #ecebf1;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  .get-in-touch:hover {
    background-color: rgb(93, 205, 242);
  }
  /* Add this to your existing CSS or modify as needed */
.arrow-buttons {
    position: absolute;
    bottom: 20px; /* Adjust the bottom position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Adjust the gap between buttons */
}

.arrow-buttons button {
    background-color: #ffffff; /* White background color */
    border: 2px solid  #4027ae; /* Red border */
    color:  #4027ae; /* Red text color */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out; /* Add transition */
}

.arrow-buttons button:hover {
    background-color:  #4027ae; /* Red background on hover */
    color: #ffffff; /* White text color on hover */
    border-color: #ffffff; /* White border on hover */
}
