/* software-leader.component.css */

.software-leader {
    padding: 40px 0;
    display: flex; /* Use flexbox to align content */
    background-color: rgb(250, 255, 255);
  }
  
  .container {
    flex: 1; /* Take up available space */
    max-width: 600px; /* Adjust the maximum width as needed */
    margin-right: 20px; /* Add some margin to separate content from image */
  }
  
  .red-block {
    background-color: #4027ae; /* Red background color */
    padding: 10px; /* Adjust padding as needed */
    text-align: left;
    display: inline-block; /* Make the red block inline */
  }
  
  .section-title {
    font-size: 2rem;
    color: #ffffff; /* White text color */
    margin: 0; /* Remove default margin */
  }
  
  .sub-heading,
  .sub-sub-heading {
    font-size: 1.5rem;
    color: #4b4949; /* Dark text color for the sub-headings */
    margin: 0; /* Remove default margin */
    text-align: left; /* Align the sub-headings to the left */
    padding-left: 20px; /* Add some padding to visually separate them */
  }
  
  .sub-sub-heading {
    padding-top: 10px; /* Add some padding at the top of sub-sub-heading for separation */
  }
  
  .industry-description {
    text-align: left;
    line-height: 1.5;
    color: #444;
  }
  
  .quote-button {
    background-color: transparent;
    border: 2px solid #4027ae;
    color:  #4027ae; 
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Add transition */
    margin-top: 20px; /* Add margin at the top for separation */
  }
  
  .quote-button:hover {
    background-color:  #4027ae; /* Red background on hover */
    color: #ffffff; /* White text color on hover */
  }
  
  .image-container img {
    width: 100%; /* Make the image fill the container width */
    max-width: 500px; /* Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 100px; /* Optional: Add border-radius for rounded corners */
  }
  .image-container {
    position: relative;
}

.arrow-buttons {
    position: absolute;
    bottom: 10px; /* Adjust the bottom position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Adjust the gap between buttons */
}

.arrow-buttons button {
    background-color: #ffffff; /* White background color */
    border: 2px solid  #4027ae; /* Red border */
    color:  #4027ae; /* Red text color */
    padding: 5px 10%; /* Adjust padding as needed */
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out; /* Add transition */
}

.arrow-buttons button:hover {
    background-color:  #4027ae; /* Red background on hover */
    color: #ffffff; /* White text color on hover */
    border-color: #ffffff; /* White border on hover */
}