.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px; /* Adjust margin as needed */
  overflow-x: hidden; /* Prevent scrolling on the left */
}

.left-image {
  max-width: 800px; /* Adjust the maximum width of the image */
  animation: floatAnimation 4s infinite alternate; /* Add animation to the image */
  box-shadow: 20px 20px 10px rgba(228, 41, 41, 0.3); /* Add box shadow for a subtle shadow effect */
}

@keyframes floatAnimation {
  0% {
      transform: translateX(0); /* Change translateY to translateX */
  }
  100% {
      transform: translateX(100px); /* Adjust the amount of movement as needed */
  }
}

.content {
  text-align: right;
}

.content h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content p {
  margin: 5px 0;
  font-size: 18px;
  color: #333; /* Adjust color as needed */
}

.content p.get-in-touch {
  font-size: 24px;
  font-weight: bold;
  color: #125884; /* Set the text color to a professional blue */
}

.content p.address {
  margin-left: 5px; /* Adjust margin as needed */
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: auto; /* Move the form to the right */
}

label {
  margin-top: 10px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
}

button {
  background-color: #125884; /* Adjust background color to match the heading */
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

button:hover {
  background-color: #0d3a5a; /* Darken the background color on hover */
}
