/* service1.component.css */

.service1-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    animation: fadeIn 1s ease-in-out; /* Animation for fading in */
  }
  
  .service1-container h2 {
    font-size: 24px;
    color: #333;
  }
  
  .service1-container p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  
  .service1-container ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .service1-container li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .service1-container a {
    color: #007bff;
  }
  
  .service1-container a:hover {
    text-decoration: underline;
  }
  
  /* Animation for increasing image size */
  .service1-image img {
    transition: transform 0.5s ease-in-out;
    position: static;
  }
  
  .service1-image img:hover {
    transform: scale(1.1); /* Increase image size by 10% on hover */
  }
  
  /* Animation for moving elements */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px); /* Move up by 20px */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  